@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
h1{
    font-family: 'Nunito', sans-serif;
    text-align:center;
    letter-spacing: 2px;
}
hr{
    width:35%;
    margin:auto;
    margin-bottom:10px;
    border: 0;
    height: 0;
    border-top: 1.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.loader{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0.8;
}
.loader img{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.row {
    display: flex;
    padding: 0 4px;
  }
  .column {
    flex:1;
    padding: 0 4px;
  }
 .image-container {
    margin: 10px 15%;
  } 
 .image-container img {
    width: 100%;
    margin-top: 5px;
  } 
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    .image-container {
      margin: 10px;
    }
  }